*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(..///resources/bedroom.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: wheat;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 25px;
    width: 35px;
    height: 35px;

}

span{
    color:darkcyan;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;

}

nav ul li a:hover{
    color:blueviolet;
    transition: .4s;
}

.btn{
    background-color: darkcyan;
    color: wheat;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);

}

h1{
    color: darkcyan;
    margin: 20px 0px 20px ;
    font-size: 75px;
}

h3{
    color: darkcyan;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: darkcyan;
    font-size: 25px;
    margin-bottom: 50px;
}

.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;

}

.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 30px 14px 15px;
    border: 2px solid darkcyan;
    outline: none;
    border-radius: 30px ;
}

.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: darkcyan;
    color: wheat;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px ;
    top: 6px;
    right: 6px;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: wheat;
}

.about img{
    height: 400px;
    width: 430px;
    justify-content: right;
    position: relative;

}

.about-text{
    width: 200px;
    justify-content: left;
    
}

.main{
    width: 113px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: black;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: black;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;

}

.about-text p{
    color: black;
    font-size: 15px;
    margin-bottom: 45px ;
    letter-spacing: 1px;
    line-height: 28px;
    align-items: right;

}

button{
    background-color: darkcyan;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid darkcyan;
    cursor: pointer;
} 